  <% @recipes.each do |recipe| %>
  <li class="store">
    <a class="noeffect" href="../recipe/<%= recipe.css('span.title a')[0]['href'].gsub(/.*\/([^\/]+$)/, "\\1") %>">
      <span class="image" style="background: #ccc url('<%= (recipe.css("img.thumbnail")[0] || {})["src"] %>') center center no-repeat;">
      </span><span class="comment"><%= recipe.css('div.description')[0].content rescue nil%></span><span class="name"><%= recipe.css('span.title a')[0].content %></span>
      <span class="starcomment" style="position: relative;top:0;left:0;margin-left:95px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 60%;"><%= recipe.css('div.material')[0].content  rescue nil %></span><span class="arrow"></span>
    </a>
  </li>
  <% end %>
  <% if @next %>
  <li id="next" class="form"><input name="search" type="submit" value="次の10件を読み込む" onclick="loadNext('search/<%= CGI.escape(params[:word]) %>', <%= @next['href'].gsub(/.*page=(\d+)&.*/, "\\1") %>); return false;" /></li>
  <% end %>
